

.reals{
    height: 5000px;
    margin-top: 100px;
    .item{
        margin-top: 30px;
        border-radius: 12px;
        //overflow-y: hidden;
        height: 450px;
        position: relative;
        .dots{
            position: absolute;
            top: 14px;
            font-size: 19px;
            color: #fff;
            font-size: 25p;
            right: 5px;
        }
        .header{
            height: 220px;
            position: relative;
            .navbar{
                width: 0;
                position: absolute;
                top:0;
                right: -45px;
                z-index: 9999;
           
                .dropdown-menu{
                    text-align: right !important;
                }
            }
            img{
                height: 100%;
                width: 100%;
            }
            .type{
                position: absolute;
                padding: 5px 29px;
                right: 20px;
                top: 8px;
               // background: #978cf2;
                border-radius: 5px;
                border: 1px solid #FFF;
                font-weight: bold;
                color: #ffffff;
            }
            .blue{
                background: #1aa5de;
            }
            .purple{
                background: #978cf2;
            }
            .price{
                position: absolute;
                padding: 5px 29px;
                left: 20px;
                top: 8px;
                //background: #978cf2;
                border-radius: 5px;
                border: 1px solid #ffffff;
                font-weight: bold;
                color: #ffffff;
            }
        }
        .content{
            padding:15px;
            p{
                height: 32px;
            }
        }
        .footer{
            padding:15px;
            position: relative;
            bottom: -100px;
            .call{
                i{
                    color: #5e47ec;
                }
            }
            .location{
                position: absolute;
                left: 10px;
                i{
                    color:#82C91E;
                }
            }
        }
    }
}


.navbar-light .navbar-nav .nav-link {
    opacity: 0 !important;
}



.overlay{
    &::after{
     color: #fff;
     text-align: center;
     border-radius: 10px;
     overflow: hidden;
     content: "في انتظار المراجعة";
     /* display: block; */
     position: absolute;
     display: flex;
     font-size: 30px;
     font-weight: bold;
     width: 100%;
     align-items: center;
     padding: 17px;
     justify-content: center;
     height: 100%;
     top: 0;
     left: 0;
     background: #999;
     z-index: 88;
    }
 }