.group{
    
    margin:100px auto;
    direction: rtl;
    width: 300px;
    .form-group{
        input{
            padding: 10px;
            width: 400px;
            border-radius: 5px;
            @media(max-width:767px){
                width:300px
            }
        }
        
    }
}